body
    link(rel='stylesheet', href='/site/coral.ru/css/countdown.less')
    section.hero.countdown
        article
            .contenu
                .lets-count-down
                    a.inhalt(href='https://www.coral.ru/offer-family-day/', target='_blank')
                        .info
                            h3 Семья &mdash; праздник, <br>который всегда с&nbsp;тобой
                            p Только 5&nbsp;дней
                            p Торопитесь забронировать тур с&nbsp;выгодой&nbsp;3%
                        .countdown-widget
                            div(data-units='days')
                                .couple
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                .label &dcy;
                            div(data-units='hours')
                                .couple
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                .label &chcy;
                            .always-visible(data-units='minutes')
                                .couple
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                .label &mcy;
                            .always-visible(data-units='seconds')
                                .couple
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                    .flipper-stack
                                        .flipper(data-digit='X')
                                .label &scy;

        script(type='module', src='/site/coral.ru/js/countdown.coffee')